.header-switch-box {
  display: flex;
  justify-content: space-between;
  width: 35%;
  height: 35px;
  background-color: rgba(165, 168, 172, 0.1);
  margin-right: 2%;
  border-radius: 5px;
}
.switch-btn {
  width: 33%;
  height: 30px;
  margin-top: 2px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  color: grey;
  text-align: center;
  font-size: 12px;
}
.switch-btn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: 1s;
}
